/* This is your CSS file. You will use this file to style your HTML pages */


/* Colour of the website */

/*FFBC6B*/
/*:root {
  --Navcolor: #002E47;
  --NavText: #FFBC6B;
  --Navbox: #6B7FD7;
  --background-color: #002456;
  --formbox: rgb(205, 205, 205);
  --pagebox: #F1EEE6;
  --subfont: #030214;
}
*/
:root {
  --Navcolor: #002E47;
  --NavText: #FFBC6B;
  --Navbox: #6B7FD7;
  --background-color: #BCF4F5;
  --formbox: #BCF4F5;
  --pagebox: #D3FAC7;
  --subfont: #BCF4F5;
}


 /* Code for the list bounce, CSS code that will be applied to screens that are 0px wide or wider */
@media (min-width: 0px){ 
  /* Sizeing what size it starts with */
 .bounce  a{
  width:100%;
  transform:scale(1)
}
}

 /* Timing for bounce Using cubic-bezier for a nicer fade*/
      .bounce  a{
        transition: 3s cubic-bezier(0, 0.6, 0.45, 1), 
         opacity 1200ms;
     }
     /* Sizeing what size it ends with */
@media (min-width: 100px){
          .bounce:hover  a{transform:scale(1.2);}  
        }


/* Background colour */
body {
  margin: 20px;
  background-color: var(--background-color);
}

/* The color length and style of the navbar */
#navigation {
  list-style-type: none;
  margin-left: -20px;
  margin-right: -20px;
  float: top;
  overflow: hidden;
  background-color: var(--Navcolor);
}
/* boarder around the text boxes */
#navigation li {
  float: left;
  border: 2px solid var(--Navcolor);
}

/* The code styles the navigation bar links to be 160px wide, floated to the top, and with a background color, text color, text alignment, padding, and border. */
#navigation a {
  width: 160px;
  margin-right: 28px;
  float: top;
  display: block;
  background-color: var(--Navcolor);
  color: var(--NavText);
  text-align: center;
  align-items: center;
  padding: 10px;
  border: 3px solid var(--Navcolor);
}

/* What colour is box when hovering */
#navigation a:hover {
  background-color: var(--Navbox);
}
/* Aligning the "icons" within the navbar */
.material-symbols-outlined {
  position: relative;
  top: 6px;
  margin-top: -10px;
  margin-right: 3px;
}


/* Text font for h1 */
h1 {
  color: #fa92a3;
  font-family: 'arial', sans-serif;
  
}

/* Text colour for h2 */
h2 {
  font-family: 'arial', sans-serif;
  color: var(--Navcolor);
}

/* Text colour for h3 */
h3 {
  font-family: 'arial', sans-serif;
  color: var(--Navcolor);
  font-size: 25px;
  margin: 0;
  padding: 5px;
}

/* Text font and padding for h4 */
h4 {
  font-family: 'arial', sans-serif;
  margin: 0;
  padding: 2px;
  padding-top: 16px;
}

/* Margin for p */
p {
  margin-top: 2px;
}
 
/* Margin for p */
 footer, td {
  padding-left: 20px;
  padding-bottom: 10px;
 }

 #reg,
 #pay, #faqform {
  display: flex;
  flex-direction: column;
  width: 500px;
  border-radius: 10px;
  background-color: var(--formbox);
  padding: 15px;
 }


input, textarea, select, ul [req] {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  padding: 12px 10px 12px 10px;
  font-size: large;
}

button {
  background-color: gray;
  color: white;
  margin-top: 20px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

ul#index li {
  list-style: square;
}

/* Text colour for body */
body {
  color: black;
}

/* Text style for p */
p{
  font-weight: bold;
  width: 600px;
}

/* Text properties for footer */
footer {
  position: fixed;
  bottom: 1px;
  font-style: italic;
  padding-left: 20px;
  padding-bottom: 10px;
}

/*Apply the following CSS properties*/
#faq, #services, #home {
  border-radius: 10px;
  background-color: var(--pagebox);
  margin-top: 30px;
  padding: 30px;
}

#regpay{
  display: grid;
  place-items: center;
  border-radius: 10px;
  background-color: var(--pagebox);
  margin-top: 30px;
 }

 #totalpay {
  display: grid;
  place-items: center;
  padding: 12px 20px;
  background-color: rgb(197, 197, 197);
  border-radius: 10px;
 }

/* Balloons adapted from (Jemima, n.d.) */
#balloon-container {
 position: absolute; top: 0;
  height: 100vh;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: opacity 500ms;
}
/* Size of the ballons */
.balloon {
  height: 125px;
  width: 105px;
  border-radius: 75% 75% 70% 70%;
}

td {
  vertical-align: top;
}

.balloon:before {

  /*This sets the content of the element to an empty string.*/
  content: "";
  /* height and width of the ballon */
  height: 75px;
  width: 1px;
  padding: 1px;
  background-color: transparent;
  display: block;
  position: absolute;
  top: 125px;
  left: 0;
  right: 0;
  margin: auto;
}

/* Size of the ballons */
.balloon:after {
    content: "▲";
    text-align: center;
    display: block;
    position: absolute;
    color: inherit;
    top: 120px;
    left: 0;
    right: 0;
    margin: auto;
}


@keyframes float {
  from {transform: translateY(100vh);
  opacity: 1;}
  to {transform: translateY(-300vh);
  opacity: 0;}

}


/* References
Jemima. (n.d.). Floating Balloons. https://codepen.io/Jemimaabu/pen/vYEYdOy */